@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to left, #93a3b1, #7c898b);
}

.holder h1 {
  text-align: center;
  margin-bottom: 3rem;
  color: #222;
  font-size: 3rem;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
  font-size: 3rem;
  background-color: #fefefe;
  color: #322214;
  letter-spacing: 2px;
}
